In [2]:
from tickers import Ticker, scrape_tickers, query_list, recent_IPO_list, upcoming_IPO_list
import pandas as pd

# Scrape to get updated tickers and company names for stocks and ETFs
scrape_tickers()

import_lists = [query_list, recent_IPO_list, upcoming_IPO_list]

tickers = []

# Build raw query list with ticker abbrevation and name of company
for i in import_lists:
    for item in i:
        tickers.append(item)

In [3]:
# Load in data for testing - will be replace with dataframes when in production
submissions_df = pd.read_csv('submissions.csv')
comments_df = pd.read_csv('comments.csv')

In [4]:
# convert sentences to array of words
submissions_df['Body_Words'] = submissions_df.Body.str.replace("'", "").str.strip().str.split('[\W_]+')
submissions_df['Title_Words'] = submissions_df.Title.str.replace("'", "").str.strip().str.split('[\W_]+')

In [5]:
common_words = ['Corp', 'Corporation', 'Ltd', 'Acquisition', 'Pharmaceuticals', 'Holding', 'Group']
new_name = ""
ticker_names = []
for ticker in tickers:
    new_name = ""
    company_words = ticker.name.split()
    for word in company_words:
        if word in common_words:
            continue
        else:
            if new_name == "":
                new_name = word
            else:
                new_name = new_name + " " + word
    ticker.name = new_name

In [6]:
# Tag all tickers found in array of words for each post
submissions_df["Tickers"] = ""
for index, row in submissions_df.iterrows():
    tickers_found = []
    body_list = row[12]
    title_list = row[13]
    body_set = set(body_list)
    title_set = set(title_list)
    for ticker in tickers:
        if ticker.abbrev == 'A' or ticker.abbrev == 'I':
            if (ticker.name in body_set) or (ticker.name in title_set):
                tickers_found.append(ticker.abbrev)
        else:
            if (ticker.abbrev in body_set) or (ticker.abbrev in title_set):
                if ticker.abbrev not in tickers_found:
                    tickers_found.append(ticker.abbrev)
            elif (ticker.name in body_set) or (ticker.name in title_set):
                if ticker.abbrev not in tickers_found:
                    tickers_found.append(ticker.abbrev)
    if len(tickers_found) == 0:
        submissions_df.at[index, "Tickers"] = ""
    else:
        submissions_df.at[index, "Tickers"]= tickers_found
        print(f"{index}: {tickers_found}")

1: ['ADS', 'BCS', 'DRI', 'HON', 'JP', 'MS', 'NDAQ', 'NIO', 'ORLY', 'REGN', 'RH', 'SGFY', 'TLS', 'U', 'DIA', 'QQQ', 'SPY']
2: ['DG', 'E', 'GOOGL', 'HD', 'SPGI', 'TMO', 'TXN', 'UNP', 'V']
3: ['PS']
4: ['AM', 'AMAT', 'BB', 'BNTX', 'CHWY', 'CIO', 'ENPH', 'ET', 'ETSY', 'FCX', 'FOR', 'GILD', 'KMX', 'KNDI', 'L', 'LB', 'LPL', 'LULU', 'MKC', 'MKC.V', 'MTD', 'MU', 'NDAQ', 'NEXT', 'NWG', 'OPEN', 'PM', 'SE', 'TREE', 'TSLA', 'TWOA', 'U', 'VIAC', 'VIACA', 'WBA']
6: ['FANG', 'PLTR', 'PS']
7: ['MX']
10: ['USD']
11: ['DD']
12: ['VIAC']
13: ['CEO', 'FRO', 'NAT', 'STNG', 'TK', 'TNK']
14: ['ARKK']
15: ['F', 'NIO', 'USD']
16: ['DD']
17: ['AMT', 'CCI', 'CTRE', 'EPRT', 'EQIX', 'INVH', 'NSA', 'PLD', 'PSB', 'REXR', 'REIT']
19: ['TSLA', 'VWAGY']
20: ['TWTR']
22: ['GME']
23: ['H', 'IJR', 'IWC', 'IWM', 'SDD']
28: ['CP']
29: ['TD']
30: ['NDAQ', 'TA', 'TWOA']
31: ['X', 'Y']
32: ['TMAC']
34: ['MSFT']
36: ['GME', 'TWOA', 'ARKK', 'LIT', 'MSOS', 'YOLO']
38: ['CEO', 'DHT', 'DSX', 'FRO', 'NAT', 'SFL', 'TNP', 'TWOA']
39: ['CRSR', 'EDIT', 'IMO', 'SO']
41: ['TWOA']
42: ['CIDM']
44: ['TD', 'WFC']
45: ['RTX']
46: ['AONE', 'MT']
48: ['AMC', 'AXP', 'CCL', 'DKNG', 'FSLR', 'GME', 'SPWR', 'TRIP', 'WH', 'SPY', 'VUG']
49: ['GME', 'HOME', 'OR', 'WWW']
50: ['DD', 'J', 'QQQ', 'QQQJ', 'QQQM', 'SCHD', 'SMH', 'VIS', 'VOO', 'VTI']
52: ['CB', 'TWOA']
53: ['GME', 'USD']
54: ['ROKU']
56: ['AMBO', 'CLEU', 'EEIQ', 'FEDU', 'WAFU']
57: ['IBM', 'IT']
62: ['K', 'L', 'UVXY']
64: ['E', 'MSCI', 'TWOA', 'EZA']
65: ['EDIT']
66: ['AMC', 'GME', 'TD', 'TWOA']
67: ['C', 'CEO', 'TRNY']
68: ['SOXL']
69: ['TWOA']
70: ['GM', 'TSLA']
71: ['CEO', 'TWOA', 'XPO', 'LTL']
72: ['ARK', 'TSLA']

In [8]:
# Remove submissions without any mention of tickers - unable to interpret relevancy of sentiment
submissions_df = submissions_df.loc[submissions_df['Tickers'] != ""]

In [9]:
import nltk
#nltk.download('punkt')

In [10]:
# Using Vader Sentiment Analysis on Submissions
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA
from pprint import pprint
#nltk.download('vader_lexicon')
sia = SIA()
results = []
submissions_df['negative_score'] = ""
submissions_df['neutral_score'] = ""
submissions_df['positive_score'] = ""
submissions_df['compound_score'] = ""
for index, row in submissions_df.iterrows():
    title = row[2]
    body = row[4]
    eval_text = title + " " + body
    body_words = row[12]
    title_words = row[13]
   # ticker_abbrevs = row[14]
    pol_score= sia.polarity_scores(eval_text)
    submissions_df.at[index, 'negative_score'] = pol_score['neg']
    submissions_df.at[index, 'neutral_score'] = pol_score['neu']
    submissions_df.at[index, 'positive_score'] = pol_score['pos']
    submissions_df.at[index, 'compound_score'] = pol_score['compound']

submissions_df.head()

,Post_Type,Submission_ID,Title,Author,Body,Flair,Distinguished,Num_Comments,Post_ID,URL,Score,Upvote_Ratio,Created_Date_UTC,Body_Words,Title_Words,Tickers,negative_score,neutral_score,positive_score,compound_score
1,Submission,me2d54,"Here is a Market Recap for today Friday, March...",psychotrader00,"\n\n**PsychoMarket Recap - Friday, March 26, ...",NaN,NaN,21,t3_me2d54,https://www.reddit.com/r/stocks/comments/me2d5...,72,0.92,[1616804555.0],"[, PsychoMarket, Recap, Friday, March, 26, 202...","[Here, is, a, Market, Recap, for, today, Frida...","[ADS, BCS, DRI, HON, JP, MS, NDAQ, NIO, ORLY, ...",0.045,0.848,0.107,0.9937
2,Submission,me8kb3,5 Considerations When Picking Stocks for Long-...,MinnesotaPower,"Like many of you, I started actively investing...",Advice,NaN,18,t3_me8kb3,https://www.reddit.com/r/stocks/comments/me8kb...,81,0.87,[1616827758.0],"[Like, many, of, you, I, started, actively, in...","[5, Considerations, When, Picking, Stocks, for...","[DG, E, GOOGL, HD, SPGI, TMO, TXN, UNP, V]",0.042,0.836,0.122,0.9842
3,Submission,me1wx4,I believe two contradictory things about stock...,NotLegallyBinding,"First, I'm convinced that all the relevant, ac...",NaN,NaN,97,t3_me1wx4,https://www.reddit.com/r/stocks/comments/me1wx...,61,0.82,[1616803173.0],"[First, Im, convinced, that, all, the, relevan...","[I, believe, two, contradictory, things, about...",[PS],0.142,0.778,0.081,-0.7559
4,Submission,med6uw,Wall Street Week Ahead for the trading week be...,bigbear0083,Good Saturday morning to all of you here on r/...,NaN,NaN,19,t3_med6uw,https://www.reddit.com/r/stocks/comments/med6u...,97,0.96,[1616849490.0],"[Good, Saturday, morning, to, all, of, you, he...","[Wall, Street, Week, Ahead, for, the, trading,...","[AM, AMAT, BB, BNTX, CHWY, CIO, ENPH, ET, ETSY...",0.031,0.871,0.098,0.9999
6,Submission,mdwibp,PLTR - bearish discussion to better understand...,wsbloverrrrrr,"(Please excuse my username, it's the only acco...",Company Discussion,NaN,58,t3_mdwibp,https://www.reddit.com/r/stocks/comments/mdwib...,43,0.79,[1616787276.0],"[, Please, excuse, my, username, its, the, onl...","[PLTR, bearish, discussion, to, better, unders...","[FANG, PLTR, PS]",0.066,0.746,0.188,0.9981

In [12]:
submissions_df['sentiment_label'] = 0
submissions_df.loc[submissions_df['compound_score'] > 0.2, 'sentiment_label'] = 1
submissions_df.loc[submissions_df['compound_score'] < -0.2, 'sentiment_label'] = -1

In [13]:
submissions_df['sentiment_weight'] = submissions_df['Score'] * submissions_df['Upvote_Ratio']

In [14]:
comments_df['Body_Words'] = comments_df.Body.str.replace("'", "").str.strip().str.split('[\W_]+')

In [15]:
comments_df['Tickers'] = ""
for index_c, row_c in comments_df.iterrows():
    for index_s, row_s in submissions_df.iterrows():
        if row_c[1] == row_s[1]:
             comments_df.at[index_c, 'Tickers'] = row_s[14]

In [16]:
comments_df = comments_df.loc[comments_df["Tickers"] != ""]

In [17]:
comments_df['negative_score'] = ""
comments_df['neutral_score'] = ""
comments_df['positive_score'] = ""
comments_df['compound_score'] = ""
for index, row in comments_df.iterrows():
    body = row[5]
    pol_score= sia.polarity_scores(body)
    comments_df.at[index, 'negative_score'] = pol_score['neg']
    comments_df.at[index, 'neutral_score'] = pol_score['neu']
    comments_df.at[index, 'positive_score'] = pol_score['pos']
    comments_df.at[index, 'compound_score'] = pol_score['compound']

comments_df.head()

,Post_Type,Submission_ID,Comment_ID,Parent_ID,Author,Body,Flair,Distinguished,Is_Author,Score,Created_Date_UTC,Body_Words,Tickers,negative_score,neutral_score,positive_score,compound_score
187,Comment,me2d54,gsd1r54,t3_me2d54,pman6,['ok guys....\n\nwhat the fuck happened during...,NaN,NaN,False,35,[1616805654.0],"[, ok, guys, n, nwhat, the, fuck, happened, du...","[Here, is, a, Market, Recap, for, today, Frida...",0.224,0.776,0,-0.7236
188,Comment,me2d54,gsdbbya,t3_me2d54,NeelAsman,"['Shout out for yesterday’s post, you nailed S...",NaN,NaN,False,5,[1616809931.0],"[, Shout, out, for, yesterday, s, post, you, n...","[Here, is, a, Market, Recap, for, today, Frida...",0,1,0,0
189,Comment,me2d54,gsd2vy0,t3_me2d54,thatsjetfuel,"[""I'm not seeing how TSM is a bad play at this...",NaN,NaN,False,7,[1616806145.0],"[, Im, not, seeing, how, TSM, is, a, bad, play...","[Here, is, a, Market, Recap, for, today, Frida...",0.147,0.767,0.087,-0.5423
190,Comment,me2d54,gsd61xo,t1_gsd1r54,hitmon_gg,['God wanted me to have a better weekend?'],NaN,NaN,False,23,[1616807556.0],"[, God, wanted, me, to, have, a, better, weeke...","[Here, is, a, Market, Recap, for, today, Frida...",0,0.674,0.326,0.4404
191,Comment,me2d54,gsddp75,t1_gsd1r54,bothodler,"[""I don't want to get super conspiracy-ie but ...",NaN,NaN,False,10,[1616811018.0],"[, I, dont, want, to, get, super, conspiracy, ...","[Here, is, a, Market, Recap, for, today, Frida...",0.299,0.598,0.102,-0.9497

In [19]:
comments_df['sentiment_label'] = 0
comments_df.loc[comments_df['compound_score'] > 0.2, 'sentiment_label'] = 1
comments_df.loc[comments_df['compound_score'] < -0.2, 'sentiment_label'] = -1
comments_df

,Post_Type,Submission_ID,Comment_ID,Parent_ID,Author,Body,Flair,Distinguished,Is_Author,Score,Created_Date_UTC,Body_Words,Tickers,negative_score,neutral_score,positive_score,compound_score,sentiment_label
187,Comment,me2d54,gsd1r54,t3_me2d54,pman6,['ok guys....\n\nwhat the fuck happened during...,NaN,NaN,False,35,[1616805654.0],"[, ok, guys, n, nwhat, the, fuck, happened, du...","[Here, is, a, Market, Recap, for, today, Frida...",0.224,0.776,0,-0.7236,-1
188,Comment,me2d54,gsdbbya,t3_me2d54,NeelAsman,"['Shout out for yesterday’s post, you nailed S...",NaN,NaN,False,5,[1616809931.0],"[, Shout, out, for, yesterday, s, post, you, n...","[Here, is, a, Market, Recap, for, today, Frida...",0,1,0,0,0
189,Comment,me2d54,gsd2vy0,t3_me2d54,thatsjetfuel,"[""I'm not seeing how TSM is a bad play at this...",NaN,NaN,False,7,[1616806145.0],"[, Im, not, seeing, how, TSM, is, a, bad, play...","[Here, is, a, Market, Recap, for, today, Frida...",0.147,0.767,0.087,-0.5423,-1
190,Comment,me2d54,gsd61xo,t1_gsd1r54,hitmon_gg,['God wanted me to have a better weekend?'],NaN,NaN,False,23,[1616807556.0],"[, God, wanted, me, to, have, a, better, weeke...","[Here, is, a, Market, Recap, for, today, Frida...",0,0.674,0.326,0.4404,1
191,Comment,me2d54,gsddp75,t1_gsd1r54,bothodler,"[""I don't want to get super conspiracy-ie but ...",NaN,NaN,False,10,[1616811018.0],"[, I, dont, want, to, get, super, conspiracy, ...","[Here, is, a, Market, Recap, for, today, Frida...",0.299,0.598,0.102,-0.9497,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2111,Comment,me11cn,gsdhaar,t1_gsdf2zh,merlinsbeers,"[""He isn't self-made. He comes from a wealthy ...",NaN,NaN,False,2,[1616812668.0],"[, He, isnt, self, made, He, comes, from, a, w...","[Elons, pumps, lost, its, effect, Totally, uns...",0,0.846,0.154,0.6249,1
2112,Comment,me11cn,gsge5va,t1_gsdf2zh,harrison_wintergreen,['> That dude is one of the few self made bill...,NaN,NaN,False,1,[1616856792.0],"[, That, dude, is, one, of, the, few, self, ma...","[Elons, pumps, lost, its, effect, Totally, uns...",0,1,0,0,0
2113,Comment,me11cn,gsd6jo3,t1_gscuc3i,Ironleg01,"['Oh wow, news outlet reporting on thing that ...",NaN,NaN,False,4,[1616807785.0],"[, Oh, wow, news, outlet, reporting, on, thing...","[Elons, pumps, lost, its, effect, Totally, uns...",0.296,0.51,0.194,-0.25,-1
2114,Comment,me11cn,gsd0mbr,t1_gsczs3d,Tacoman404,"['Huh, Elon Musk is actually a vole?']",NaN,NaN,False,2,[1616805158.0],"[, Huh, Elon, Musk, is, actually, a, vole, ]","[Elons, pumps, lost, its, effect, Totally, uns...",0,1,0,0,0
2115,Comment,me11cn,gsdid8c,t1_gsdhaar,mimo_s,['They didn’t mention his brother in the book ...,NaN,NaN,False,3,[1616813203.0],"[, They, didn, t, mention, his, brother, in, t...","[Elons, pumps, lost, its, effect, Totally, uns...",0,1,0,0,0

In [20]:
sentiment_average_df = comments_df[['Submission_ID','sentiment_label']]

In [21]:
sentiment_average_df['sentiment_weight'] = comments_df['Score']
sentiment_average_df

/Users/madisonleopold/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     Submission_ID  sentiment_label  sentiment_weight
187         me2d54               -1                35
188         me2d54                0                 5
189         me2d54               -1                 7
190         me2d54                1                23
191         me2d54               -1                10
...            ...              ...               ...
2111        me11cn                1                 2
2112        me11cn                0                 1
2113        me11cn               -1                 4
2114        me11cn                0                 2
2115        me11cn                0                 3

[1378 rows x 3 columns]

In [22]:
sentiment_average_df['sentiment_adjusted'] = sentiment_average_df['sentiment_label'] * sentiment_average_df['sentiment_weight']

/Users/madisonleopold/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
sentiment_average = sentiment_average_df[['Submission_ID','sentiment_adjusted']].groupby('Submission_ID').mean()

In [24]:
sentiment_average['sentiment_output'] = 0
sentiment_average.loc[sentiment_average['sentiment_adjusted'] > 0.2, 'sentiment_output'] = 1
sentiment_average.loc[sentiment_average['sentiment_adjusted'] < -0.2, 'sentiment_output'] = -1
sentiment_average.reset_index(inplace=True)
#sentiment_average = sentiment_average.set_index('Submission_ID')

In [25]:
sentiment_average

   Submission_ID  sentiment_adjusted  sentiment_output
0         mdqmi5           -2.333333                -1
1         mdr73u            0.461538                 1
2         mdrafp           -0.200000                 0
3         mdrf39           -0.200000                 0
4         mdrs63            1.571429                 1
5         mds0i6            0.500000                 1
6         mds4bo            0.400000                 1
7         mdsfjo            0.888889                 1
8         mdssz4            0.083333                 0
9         mdt1eq            1.068966                 1
10        mdtss5           -0.500000                -1
11        mdudo6            1.500000                 1
12        mdv4h8            1.666667                 1
13        mdvdyu            0.758065                 1
14        mdvfka            0.500000                 1
15        mdvvkm            0.297872                 1
16        mdvvx8            0.000000                 0
17        mdwibp            2.438596                 1
18        mdxeba            0.333333                 1
19        mdxeu8            1.857143                 1
20        mdz868            1.121212                 1
21        mdzpaw           -0.400000                -1
22        mdztbf            2.157895                 1
23        mdzyga            2.166667                 1
24        me09qn            1.555556                 1
25        me0ast           -0.177419                 0
26        me11cn            0.026316                 0
27        me1ogw            1.500000                 1
28        me1wx4            1.510417                 1
29        me2d54           -1.350000                -1
30        me2ira            0.038462                 0
31        me2yul            0.777778                 1
32        me37ft            0.537415                 1
33        me400c           -0.093023                 0
34        me5cw4            0.050000                 0
35        me6ri7            0.531250                 1
36        me8kb3            2.294118                 1
37        me9zg9            1.000000                 1
38        mea57x            1.200000                 1
39        mead8w            0.380952                 1
40        meaofc            1.516129                 1
41        meb9bp           -1.133333                -1
42        mebzea           -0.462687                -1
43        mec5yn           -0.666667                -1
44        med1cc           -0.200000                 0
45        med6uw            4.000000                 1
46        med9ls            1.307692                 1
47        mee0g9            1.000000                 1
48        meeklg           -0.142857                 0

In [26]:
#combined_df = submissions_df.join(sentiment_average)
combined_df = pd.merge(submissions_df, sentiment_average, how='left', on='Submission_ID',
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)

In [28]:
combined_df.rename(columns = {'sentiment_adjusted':'comment_sentiment'}, inplace = True)

In [29]:
combined_df['submission_sentiment'] = combined_df['sentiment_label'] * combined_df['sentiment_weight']

In [136]:
combined_df.head()

,Post_Type,Submission_ID,Title,Author,Body,Flair,Distinguished,Num_Comments,Post_ID,URL,...,neutral_score,positive_score,compound_score,sentiment_label,sentiment_weight,comment_sentiment,sentiment_output,submission_sentiment,combined_sentiment,final_sentiment_label
0,Submission,mdqmi5,$GSX - Options activity,SaveAmerica21,$GSX - question. What is up with all the Chine...,NaN,NaN,3,t3_mdqmi5,https://www.reddit.com/r/stocks/comments/mdqmi...,...,0.957,0.043,0.34,1,3.00,-2.333333,-1.0,3.00,0.666667,1
1,Submission,mdr73u,Short term tanker stocks for Suez Canal blocka...,Rock_it_Scientist,"Ok, so we all know that some quarter mile lon...",Industry Discussion,NaN,14,t3_mdr73u,https://www.reddit.com/r/stocks/comments/mdr73...,...,0.869,0.051,-0.9834,-1,5.39,0.461538,1.0,-5.39,-4.928462,-1
2,Submission,mdrafp,XPO Logistics Inc. (XPO) Soars 2.43% on March 25,thinkB4WeSpeak,XPO Logistics Inc. (XPO) had a good day on the...,Company News,NaN,5,t3_mdrafp,https://www.reddit.com/r/stocks/comments/mdraf...,...,0.908,0.066,0.9169,1,0.00,-0.200000,0.0,0.00,-0.200000,0
3,Submission,mdrf39,"Rookie Mistake, left with a question.",Cindermidnight2,So I misunderstood RobinHood’s day trading war...,Advice,NaN,57,t3_mdrf39,https://www.reddit.com/r/stocks/comments/mdrf3...,...,0.769,0.15,0.9669,1,8.47,-0.200000,0.0,8.47,8.270000,1
4,Submission,mdrs63,Dollar cost average,noeljvt,Is there a way to calculate dollar cost averag...,NaN,NaN,14,t3_mdrs63,https://www.reddit.com/r/stocks/comments/mdrs6...,...,0.905,0.095,0.6046,1,0.00,1.571429,1.0,0.00,1.571429,1

In [30]:
combined_df['combined_sentiment'] = combined_df['comment_sentiment'] + combined_df['submission_sentiment']

In [31]:
combined_df['final_sentiment_label'] = 0
combined_df.loc[combined_df['combined_sentiment'] > 0.2, 'final_sentiment_label'] = 1
combined_df.loc[combined_df['combined_sentiment'] < -0.2, 'final_sentiment_label'] = -1

In [85]:
ticker_sentiment = pd.DataFrame()

In [86]:
ticker_sentiment["Ticker"] = ""
ticker_sentiment["Total_Count"] = 0
ticker_sentiment["Total_Sentiment"] = 0

In [87]:
index = 0
for ticker in tickers:
    ticker_sentiment.at[index, "Ticker"] = ticker.abbrev
    ticker_sentiment.at[index, "Total_Count"] = 0
    ticker_sentiment.at[index, "Total_Sentiment"] = 0
    index += 1

In [88]:
ticker_sentiment = ticker_sentiment.drop_duplicates(subset=['Ticker'])

In [89]:
ticker_sentiment

     Ticker  Total_Count  Total_Sentiment
0         A          0.0              0.0
1        AA          0.0              0.0
2       AAC          0.0              0.0
3      AACE          0.0              0.0
4      AACG          0.0              0.0
...     ...          ...              ...
8911    YYY          0.0              0.0
8912    ZIG          0.0              0.0
8913   ZJPN          0.0              0.0
8914   ZROZ          0.0              0.0
8915    ZSL          0.0              0.0

[8916 rows x 3 columns]

In [90]:
# Get running count of tickers mentioned (# of times mentioned) and with average sentiment
for index, row in ticker_sentiment.iterrows():
    ticker_abbrev = row[0]
    total_count = row[1]
    total_sentiment = row[2]
    for i, r in combined_df.iterrows():
        # Get column with tickers found
        ticker_set = set(r[15])
        post_sentiment = r[26]
        if ticker_abbrev in ticker_set:
            total_count += 1
            total_sentiment += post_sentiment
    ticker_sentiment.at[index, "Total_Count"] = total_count
    ticker_sentiment.at[index, "Total_Sentiment"] = total_sentiment

In [98]:
final_sentiment_results = ticker_sentiment.loc[ticker_sentiment['Total_Count'] != 0]

In [105]:
final_sentiment_results = final_sentiment_results.reset_index(drop=True)

In [106]:
final_sentiment_results

    Ticker  Total_Count  Total_Sentiment
0      ADS          1.0              1.0
1       AM          1.0              1.0
2     AMAT          1.0              1.0
3     AMBO          1.0              1.0
4      AMC          2.0              2.0
..     ...          ...              ...
150    VIS          1.0              1.0
151    VOO          1.0              1.0
152    VTI          1.0              1.0
153    VUG          1.0              1.0
154   YOLO          1.0              1.0

[155 rows x 3 columns]

In [107]:
final_sentiment_results["Average_Sentiment"] = final_sentiment_results["Total_Count"] / final_sentiment_results["Total_Sentiment"]

In [108]:
final_sentiment_results

    Ticker  Total_Count  Total_Sentiment  Average_Sentiment
0      ADS          1.0              1.0                1.0
1       AM          1.0              1.0                1.0
2     AMAT          1.0              1.0                1.0
3     AMBO          1.0              1.0                1.0
4      AMC          2.0              2.0                1.0
..     ...          ...              ...                ...
150    VIS          1.0              1.0                1.0
151    VOO          1.0              1.0                1.0
152    VTI          1.0              1.0                1.0
153    VUG          1.0              1.0                1.0
154   YOLO          1.0              1.0                1.0

[155 rows x 4 columns]

In [127]:
# Add "today's price change" to each ticker found - total count, average sentiment, today's price change
# Include graph for visuals
import yfinance as yf
from datetime import date

In [142]:
todays_date = date.today()
todays_date

datetime.date(2021, 5, 20)

In [143]:
price_list = []
for index, row in final_sentiment_results.iterrows():
    df = yf.download(row[0], start=todays_date)
    price_list.append(df)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ARK: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CEO: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MKC.V: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TRNY: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

KeyError: 0

In [144]:
price_list

[                  Open        High         Low       Close   Adj Close  Volume
 Date
 2021-05-20  120.160004  121.989899  115.528297  116.739998  116.739998  769890,
             Open   High    Low  Close  Adj Close   Volume
 Date
 2021-05-20  9.89  10.05  9.791   10.0       10.0  2216056,
                   Open        High         Low       Close   Adj Close  \
 Date
 2021-05-20  126.810997  130.669998  125.239998  130.309998  130.309998

               Volume
 Date
 2021-05-20  17370047  ,
             Open  High   Low  Close  Adj Close  Volume
 Date
 2021-05-20  2.12  2.31  2.11    2.2        2.2  214860,
              Open   High    Low  Close  Adj Close    Volume
 Date
 2021-05-20  12.59  12.99  12.03  12.55      12.55  60464947,
                   Open        High         Low       Close   Adj Close  \
 Date
 2021-05-20  246.619995  251.729996  245.210007  250.820007  250.820007

              Volume
 Date
 2021-05-20  1419049  ,
             Open   High   Low  Close  Adj Close  Volume
 Date
 2021-05-20  9.99  10.05  9.96   9.99       9.99  122990,
 Empty DataFrame
 Columns: [Open, High, Low, Close, Adj Close, Volume]
 Index: [],
                   Open        High         Low       Close   Adj Close  \
 Date
 2021-05-20  155.470001  156.251007  153.929993  155.529999  155.529999

              Volume
 Date
 2021-05-20  2842239  ,
             Open  High     Low  Close  Adj Close   Volume
 Date
 2021-05-20  8.64  8.81  8.5188   8.78       8.78  4006757,
              Open     High    Low  Close  Adj Close   Volume
 Date
 2021-05-20  10.22  10.3082  10.14  10.28      10.28  4441973,
                   Open        High         Low       Close   Adj Close  \
 Date
 2021-05-20  199.169998  209.020004  198.300003  203.710007  203.710007

              Volume
 Date
 2021-05-20  3268868  ,
                  Open       High        Low      Close  Adj Close    Volume
 Date
 2021-05-20  75.620003  76.639999  75.360001  76.199997  76.199997  15243166,
                   Open        High         Low       Close   Adj Close  \
 Date
 2021-05-20  166.220001  167.149994  165.259995  166.160004  166.160004

              Volume
 Date
 2021-05-20  3348214  ,
                   Open        High         Low       Close   Adj Close  \
 Date
 2021-05-20  182.059998  186.100006  181.490005  185.449997  185.449997

              Volume
 Date
 2021-05-20  1177966  ,
              Open   High        Low      Close  Adj Close    Volume
 Date
 2021-05-20  27.65  27.68  26.961901  27.530001  27.530001  23827705,
 Empty DataFrame
 Columns: [Open, High, Low, Close, Adj Close, Volume]
 Index: [],
                  Open       High        Low      Close  Adj Close   Volume
 Date
 2021-05-20  71.239998  71.589996  69.589996  69.599998  69.599998  3532356,
             Open  High  Low  Close  Adj Close    Volume
 Date
 2021-05-20  1.22  1.35  1.2   1.34       1.34  25175010,
              Open   High    Low  Close  Adj Close  Volume
 Date
 2021-05-20  11.01  11.17  10.89  11.15      11.15   89571,
             Open  High     Low  Close  Adj Close  Volume
 Date
 2021-05-20   3.2  3.37  3.1699   3.34       3.34  522168,
                  Open       High        Low      Close  Adj Close   Volume
 Date
 2021-05-20  79.010002  81.660004  79.010002  80.580002  80.580002  4643055,
                  Open   High        Low  Close  Adj Close  Volume
 Date
 2021-05-20  32.150002  32.48  31.780001  31.93      31.93  639950,
              Open   High      Low      Close  Adj Close  Volume
 Date
 2021-05-20  22.84  23.27  22.7696  23.120001  23.120001  544949,
                  Open       High        Low      Close  Adj Close   Volume
 Date
 2021-05-20  84.190002  84.849998  83.510002  84.080002  84.080002  2777346,
                   Open        High         Low       Close   Adj Close  \
 Date
 2021-05-20  203.690002  205.240005  202.119995  204.119995  204.119995

              Volume
 Date
 2021-05-20  1294996  ,
             Open  High   Low  Close  Adj Close   Volume
 Date
 2021-05-20  5.87  6.09  5.85   6.07       6.07  3520931,
                  Open       High        Low      Close  Adj Close    Volume
 Date
 2021-05-20  43.655998  44.869701  43.380001  44.540001  44.540001  10724650,
                   Open        High         Low       Close   Adj Close  \
 Date
 2021-05-20  140.020004  141.690002  139.649994  141.119995  141.119995

              Volume
 Date
 2021-05-20  1727014  ,
             Open    High    Low  Close  Adj Close   Volume
 Date
 2021-05-20  4.46  4.4867  4.015   4.07       4.07  2078180,
              Open   High    Low      Close  Adj Close  Volume
 Date
 2021-05-20  24.85  24.98  24.68  24.950001  24.950001  151654,
                  Open       High      Low  Close  Adj Close  Volume
 Date
 2021-05-20  33.529999  34.880299  32.9142  34.18      34.18  761236,
             Open  High   Low  Close  Adj Close  Volume
 Date
 2021-05-20  4.89  5.02  4.73   4.87       4.87  365791,
                   Open        High         Low       Close   Adj Close  \
 Date
 2021-05-20  132.039993  142.619995  131.880005  141.820007  141.820007

              Volume
 Date
 2021-05-20  5110980  ,
              Open       High   Low  Close  Adj Close  Volume
 Date
 2021-05-20  24.34  24.709999  24.1  24.66      24.66  528761,
                   Open        High         Low       Close   Adj Close  Volume
 Date
 2021-05-20  715.169983  733.919983  714.815002  728.119995  728.119995  427942,
             Open   High    Low  Close  Adj Close    Volume
 Date
 2021-05-20  10.0  10.16  9.925  10.02      10.02  15949105,
                   Open        High         Low       Close   Adj Close  \
 Date
 2021-05-20  166.279999  175.139999  166.020004  172.360001  172.360001

              Volume
 Date
 2021-05-20  3086746  ,
              Open   High   Low  Close  Adj Close     Volume
 Date
 2021-05-20  12.52  12.69  12.3  12.49      12.49  104666987,
              Open   High        Low      Close  Adj Close   Volume
 Date
 2021-05-20  77.75  77.75  74.599998  76.529999  76.529999  2684805,
              Open       High        Low      Close  Adj Close    Volume
 Date
 2021-05-20  41.02  41.490002  39.869999  41.220001  41.220001  23645127,
             Open  High    Low   Close  Adj Close  Volume
 Date
 2021-05-20  0.85  1.11  0.825  0.8896     0.8896  631654,
              Open       High    Low      Close  Adj Close  Volume
 Date
 2021-05-20  22.82  23.030001  22.66  23.030001  23.030001   50354,
             Open  High  Low  Close  Adj Close   Volume
 Date
 2021-05-20   8.3  8.57  8.2   8.55       8.55  2127572,
                  Open       High        Low      Close  Adj Close   Volume
 Date
 2021-05-20  74.110001  76.949997  73.629997  76.639999  76.639999  2006298,
                  Open       High        Low      Close  Adj Close   Volume
 Date
 2021-05-20  68.660004  69.980003  68.370003  69.349998  69.349998  6491567,
                  Open       High        Low      Close  Adj Close    Volume
 Date
 2021-05-20  55.919998  56.040001  55.190102  55.509998  55.509998  11475498,
                   Open        High         Low       Close   Adj Close  \
 Date
 2021-05-20  170.789993  174.910004  166.899994  170.490005  170.490005

              Volume
 Date
 2021-05-20  2455768  ,
               Open    High         Low        Close    Adj Close   Volume
 Date
 2021-05-20  2291.0  2312.0  2283.52002  2306.949951  2306.949951  1369032,
                  Open       High        Low      Close  Adj Close  Volume
 Date
 2021-05-20  76.290001  76.400002  75.050003  76.220001  76.220001  297558,
                   Open        High         Low       Close   Adj Close  \
 Date
 2021-05-20  314.890015  319.644989  314.890015  315.899994  315.899994

              Volume
 Date
 2021-05-20  3712869  ,
              Open  High        Low  Close  Adj Close  Volume
 Date
 2021-05-20  36.91  37.0  36.360001   36.5       36.5  885751,
                   Open        High         Low       Close   Adj Close  \
 Date
 2021-05-20  220.486496  222.889999  220.470001  222.130005  222.130005

              Volume
 Date
 2021-05-20  2073062  ,
                   Open        High         Low       Close   Adj Close  \
 Date
 2021-05-20  143.119995  144.899994  142.160004  143.880005  143.880005

              Volume
 Date
 2021-05-20  4035483  ,
                  Open       High    Low      Close  Adj Close  Volume
 Date
 2021-05-20  31.530001  32.240002  31.34  32.060001  32.060001  626008,
              Open       High    Low      Close  Adj Close   Volume
 Date
 2021-05-20  34.98  35.735001  34.98  35.599998  35.599998  4197727,
                   Open        High         Low       Close   Adj Close  Volume
 Date
 2021-05-20  227.710007  233.865005  226.889999  231.869995  231.869995  557706,
               Open        High     Low       Close   Adj Close  Volume
 Date
 2021-05-20  136.75  137.339996  135.75  136.630005  136.630005  571847,
             Open  High  Low  Close  Adj Close  Volume
 Date
 2021-05-20  2.05   2.1  2.0   2.02       2.02   63177,
                  Open       High        Low  Close  Adj Close   Volume
 Date
 2021-05-20  65.949997  66.809998  65.830002  66.32      66.32  2570979,
                   Open        High         Low       Close   Adj Close  \
 Date
 2021-05-20  115.919998  117.839996  114.019997  117.190002  117.190002

              Volume
 Date
 2021-05-20  1106595  ,
             Open   High   Low  Close  Adj Close  Volume
 Date
 2021-05-20   5.1  5.145  5.04   5.11       5.11  621658,
                  Open       High        Low      Close  Adj Close   Volume
 Date
 2021-05-20  58.189999  58.139999  57.189999  57.759998  57.759998  1037641,
             Open       High        Low  Close  Adj Close   Volume
 Date
 2021-05-20  67.0  68.400002  62.799999  64.68      64.68  6459959,
             Open  High   Low  Close  Adj Close  Volume
 Date
 2021-05-20   9.9  9.96  9.83   9.94       9.94  444497,
                   Open   High         Low       Close   Adj Close  Volume
 Date
 2021-05-20  310.910004  320.0  310.859985  319.170013  319.170013  829411,
                  Open       High    Low      Close  Adj Close   Volume
 Date
 2021-05-20  89.610001  91.364998  89.32  90.870003  90.870003  1123385,
 Empty DataFrame
 Columns: [Open, High, Low, Close, Adj Close, Volume]
 Index: [],
              Open       High    Low      Close  Adj Close   Volume
 Date
 2021-05-20  86.18  87.029999  85.32  86.470001  86.470001  7651126,
                   Open        High        Low       Close   Adj Close  Volume
 Date
 2021-05-20  450.170013  460.920013  448.76001  457.230011  457.230011  339888,
                   Open        High         Low       Close   Adj Close  \
 Date
 2021-05-20  243.960007  247.949997  243.860001  246.479996  246.479996

               Volume
 Date
 2021-05-20  19355264  ,
                  Open   High        Low      Close  Adj Close   Volume
 Date
 2021-05-20  30.870001  31.25  30.559999  31.120001  31.120001  3129562,
                    Open        High          Low        Close    Adj Close  \
 Date
 2021-05-20  1254.300049  1284.36499  1246.449951  1275.880005  1275.880005

             Volume
 Date
 2021-05-20   92041  ,
             Open       High        Low      Close  Adj Close    Volume
 Date
 2021-05-20  80.5  81.489998  79.519997  81.129997  81.129997  17049827,
                  Open       High    Low  Close  Adj Close  Volume
 Date
 2021-05-20  24.200001  24.549999  23.85  23.91      23.91  981366,
             Open  High    Low  Close  Adj Close   Volume
 Date
 2021-05-20  3.43  3.47  3.305   3.47       3.47  2176219,
                   Open        High     Low       Close   Adj Close  Volume
 Date
 2021-05-20  161.509995  164.520004  161.25  163.460007  163.460007  414154,
             Open  High   Low  Close  Adj Close  Volume
 Date
 2021-05-20  2.02  2.08  1.98   2.08       2.08  368723,
              Open       High        Low      Close  Adj Close    Volume
 Date
 2021-05-20  33.98  34.509998  33.639999  34.330002  34.330002  48610324,
              Open       High        Low      Close  Adj Close  Volume
 Date
 2021-05-20  44.52  45.095001  44.169998  44.869999  44.869999  521310,
             Open  High    Low  Close  Adj Close   Volume
 Date
 2021-05-20  5.68  5.77  5.635   5.75       5.75  1622116,
              Open   High    Low  Close  Adj Close    Volume
 Date
 2021-05-20  14.76  15.22  14.48  15.12      15.12  14763902,
              Open   High    Low  Close  Adj Close  Volume
 Date
 2021-05-20  13.96  14.08  13.81  14.02      14.02  488607,
                   Open        High         Low      Close  Adj Close  Volume
 Date
 2021-05-20  542.190002  550.900024  542.190002  546.52002  546.52002  332453,
                   Open        High     Low       Close   Adj Close   Volume
 Date
 2021-05-20  115.620003  117.790001  115.25  117.360001  117.360001  2243660,
              Open       High        Low      Close  Adj Close    Volume
 Date
 2021-05-20  20.75  20.809999  20.280001  20.610001  20.610001  45497914,
                  Open       High        Low      Close  Adj Close   Volume
 Date
 2021-05-20  96.209999  97.769997  96.105003  97.419998  97.419998  2551181,
 Empty DataFrame
 Columns: [Open, High, Low, Close, Adj Close, Volume]
 Index: [],
                   Open        High         Low       Close   Adj Close  Volume
 Date
 2021-05-20  153.580002  154.919998  153.535004  154.580002  154.580002   44926,
              Open        High      Low       Close   Adj Close  Volume
 Date
 2021-05-20  509.0  518.710022  507.625  513.210022  513.210022  545843,
              Open       High    Low  Close  Adj Close  Volume
 Date
 2021-05-20  54.02  54.830002  54.02  54.82      54.82  570369,
              Open        High         Low       Close   Adj Close  Volume
 Date
 2021-05-20  620.0  625.780029  608.380127  609.880005  609.880005  412983,
                   Open        High         Low       Close   Adj Close  \
 Date
 2021-05-20  326.737396  336.920013  323.700012  335.980011  335.980011

              Volume
 Date
 2021-05-20  3630918  ,
                  Open       High        Low      Close  Adj Close      Volume
 Date
 2021-05-20        NaN        NaN        NaN        NaN        NaN         NaN
 2021-05-20  84.739998  85.558098  84.089996  85.230003  85.230003  10059885.0,
                   Open    High         Low       Close   Adj Close   Volume
 Date
 2021-05-20  230.740005  246.75  230.589996  246.149994  246.149994  6175516,
             Open  High   Low  Close  Adj Close  Volume
 Date
 2021-05-20  8.88  8.91  8.73   8.88       8.88  811974,
              Open       High        Low  Close  Adj Close  Volume
 Date
 2021-05-20  26.24  26.799999  25.870001  26.51      26.51  346886,
             Open       High        Low      Close  Adj Close   Volume
 Date
 2021-05-20  64.0  64.565002  63.790001  64.059998  64.059998  3439378,
                   Open        High         Low       Close   Adj Close  \
 Date
 2021-05-20  371.570007  377.339996  371.609985  374.529999  374.529999

              Volume
 Date
 2021-05-20  1150925  ,
              Open   High        Low  Close  Adj Close   Volume
 Date
 2021-05-20  23.41  24.33  23.299999  23.82      23.82  3296118,
              Open       High    Low      Close  Adj Close    Volume
 Date
 2021-05-20    NaN        NaN    NaN        NaN        NaN       NaN
 2021-05-20  21.25  21.799999  20.82  21.690001  21.690001  709711.0,
              Open   High    Low      Close  Adj Close  Volume
 Date
 2021-05-20  26.24  26.76  25.85  26.440001  26.440001   95093,
                  Open       High        Low      Close  Adj Close   Volume
 Date
 2021-05-20  72.470001  73.010002  72.269997  72.889999  72.889999  1466619,
             Open  High   Low  Close  Adj Close  Volume
 Date
 2021-05-20  3.46  3.46  3.32   3.43       3.43  507667,
              Open       High        Low      Close  Adj Close   Volume
 Date
 2021-05-20  28.17  31.639999  28.129999  31.389999  31.389999  1423101,
             Open  High  Low  Close  Adj Close  Volume
 Date
 2021-05-19   9.7  9.85  9.7   9.85       9.85      10,
                   Open        High         Low       Close   Adj Close  \
 Date
 2021-05-20  457.700012  467.665009  458.024994  465.290009  465.290009

              Volume
 Date
 2021-05-20  1178467  ,
             Open   High    Low  Close  Adj Close  Volume
 Date
 2021-05-20  14.7  15.07  14.41  15.06      15.06  307799,
             Open  High   Low  Close  Adj Close  Volume
 Date
 2021-05-20  9.21  9.25  9.06   9.23       9.23   65249,
              Open        High         Low       Close   Adj Close  Volume
 Date
 2021-05-20  198.0  206.080002  197.244995  198.990005  198.990005  605382,
                  Open       High        Low      Close  Adj Close   Volume
 Date
 2021-05-20  40.509998  41.029999  39.880001  40.259998  40.259998  2060646,
 Empty DataFrame
 Columns: [Open, High, Low, Close, Adj Close, Volume]
 Index: [],
              Open        High         Low       Close   Adj Close    Volume
 Date
 2021-05-20  575.0  588.784973  571.071289  586.780029  586.780029  30171821,
             Open  High   Low  Close  Adj Close  Volume
 Date
 2021-05-20   9.8  9.86  9.84   9.86       9.86    2629,
              Open   High        Low      Close  Adj Close    Volume
 Date
 2021-05-20  53.23  54.91  53.220001  54.709999  54.709999  11270343,
                   Open        High         Low       Close   Adj Close  \
 Date
 2021-05-20  182.279999  186.539993  182.279999  185.300003  185.300003

              Volume
 Date
 2021-05-20  5384975  ,
                  Open       High        Low      Close  Adj Close   Volume
 Date
 2021-05-20  89.330002  92.339996  88.800003  90.050003  90.050003  2794854,
                   Open        High         Low       Close   Adj Close  \
 Date
 2021-05-20  222.020004  222.929993  220.220001  221.949997  221.949997

              Volume
 Date
 2021-05-20  2453495  ,
                   Open        High         Low       Close   Adj Close  \
 Date
 2021-05-20  225.440002  227.600006  225.059998  226.440002  226.440002

              Volume
 Date
 2021-05-20  7048273  ,
                Open       High        Low  Close  Adj Close    Volume
 Date
 2021-05-20  41.6535  41.889999  40.490002  41.52      41.52  35795862,
                  Open       High        Low      Close  Adj Close  Volume
 Date
 2021-05-20  45.369999  46.099998  44.790001  45.810001  45.810001  139731,
                Open       High    Low   Close  Adj Close  Volume
 Date
 2021-05-20  32.9925  33.130001  32.84  33.055     33.055  341263,
             Open  High   Low  Close  Adj Close  Volume
 Date
 2021-05-20  6.48  6.82  6.34   6.72       6.72   98661,
                  Open       High        Low      Close  Adj Close   Volume
 Date
 2021-05-20  54.279999  54.759998  53.459999  54.599998  54.599998  5326975,
              Open       High    Low  Close  Adj Close    Volume
 Date
 2021-05-20  46.07  46.180801  45.27  45.73      45.73  26085146,
                  Open       High        Low      Close  Adj Close  Volume
 Date
 2021-05-20  74.650002  75.013702  73.790001  74.650002  74.650002  656370,
              Open       High        Low      Close  Adj Close  Volume
 Date
 2021-05-20  35.93  36.459999  34.950001  36.259998  36.259998  445511,
                  Open   High    Low      Close  Adj Close    Volume
 Date
 2021-05-20  24.379999  24.52  23.32  24.040001  24.040001  26646185,
                   Open        High         Low       Close   Adj Close  Volume
 Date
 2021-05-20  140.860001  142.630005  140.860001  142.190002  142.190002  430303,
                   Open   High         Low       Close   Adj Close  Volume
 Date
 2021-05-20  710.070007  719.0  709.534973  717.219971  717.219971   76004,
              Open        High         Low       Close   Adj Close    Volume
 Date

In [145]:
price_df = pd.DataFrame(price_list)

KeyError: 0

In [ ]:
price_df