In [2]:
from tickers import Ticker, scrape_tickers, query_list, recent_IPO_list, upcoming_IPO_list

# Scrape to get updated tickers and company names for stocks and ETFs
scrape_tickers()

import_lists = [query_list, recent_IPO_list, upcoming_IPO_list]

tickers = []

# Build raw query list with ticker abbrevation and name of company
for i in import_lists:
    for item in i:
        if item.abbrev == 'A' or item.abbrev == 'I':
            item.abbrev = '-'
        tickers.append(item)

In [3]:
import pandas as pd

submissions_df = pd.read_csv('submissions.csv')
comments_df = pd.read_csv('comments.csv')

In [4]:
submissions_df.head()

,Post_Type,Submission_ID,Title,Author,Body,Distinguished,Num_Comments,Post_ID,URL,Score,Upvote_Ratio,Created_Date_UTC
0,Submission,m4inen,How do I cash in a paper stock certificate?,NaN,I'm just now going through my grandparent's de...,NaN,1117,t3_m4inen,https://www.reddit.com/r/stocks/comments/m4ine...,10113,0.95,[1615679015.0]
1,Submission,m4zppr,I think some HS friends are running a stocks s...,ElonMuskPaddleBoard,So there’s a bunch of guys I went to high scho...,NaN,639,t3_m4zppr,https://www.reddit.com/r/stocks/comments/m4zpp...,2299,0.92,[1615743393.0]
2,Submission,m4uv8i,Wall Street Week Ahead for the trading week be...,bigbear0083,Good Sunday morning to all of you here on r/st...,NaN,110,t3_m4uv8i,https://www.reddit.com/r/stocks/comments/m4uv8...,457,0.98,[1615726584.0]
3,Submission,m4zabk,My Take on Semiconductors - TSMC DD,datamonkeyz,Reports of the [semiconductor shortage](https:...,NaN,88,t3_m4zabk,https://www.reddit.com/r/stocks/comments/m4zab...,157,0.94,[1615742166.0]
4,Submission,m50u8p,$CODX moving ⬆️!,Scared_Patience_4802,$CODX is still a hidden gem! Totally undervalu...,NaN,29,t3_m50u8p,https://www.reddit.com/r/stocks/comments/m50u8...,133,0.71,[1615746543.0]

In [5]:
comments_df.head()

,Post_Type,Submission_ID,Comment_ID,Parent_ID,Author,Body,Distinguished,Is_Author,Score,Created_Date_UTC
0,Comment,m4inen,gquodoo,t3_m4inen,wangkerd,"[""Because the stock has split twice since 1988...",NaN,False,2327,[1615681875.0]
1,Comment,m4inen,gqujupq,t3_m4inen,ExtremeNihilism,"[""Holy shit, I can't believe I'm in early to w...",NaN,False,4013,[1615679240.0]
2,Comment,m4inen,gqulrra,t3_m4inen,Aelsar,"[""Hey OP.\n\nYou've got about a million bucks ...",NaN,False,3402,[1615680362.0]
3,Comment,m4inen,gquk24t,t3_m4inen,ItsTwentyBaby,['Looks like there was two stock splits after ...,NaN,False,472,[1615679359.0]
4,Comment,m4inen,gqup8nu,t3_m4inen,FancyGonzo,['Lol gramps probably spent the last 10 years ...,NaN,False,117,[1615682360.0]

In [6]:
submissions_df['Body_Words'] = submissions_df.Body.str.replace("'", "").str.strip().str.split('[\W_]+')
submissions_df['Title_Words'] = submissions_df.Title.str.replace("'", "").str.strip().str.split('[\W_]+')

In [7]:
submissions_df.head()

,Post_Type,Submission_ID,Title,Author,Body,Distinguished,Num_Comments,Post_ID,URL,Score,Upvote_Ratio,Created_Date_UTC,Body_Words,Title_Words
0,Submission,m4inen,How do I cash in a paper stock certificate?,NaN,I'm just now going through my grandparent's de...,NaN,1117,t3_m4inen,https://www.reddit.com/r/stocks/comments/m4ine...,10113,0.95,[1615679015.0],"[Im, just, now, going, through, my, grandparen...","[How, do, I, cash, in, a, paper, stock, certif..."
1,Submission,m4zppr,I think some HS friends are running a stocks s...,ElonMuskPaddleBoard,So there’s a bunch of guys I went to high scho...,NaN,639,t3_m4zppr,https://www.reddit.com/r/stocks/comments/m4zpp...,2299,0.92,[1615743393.0],"[So, there, s, a, bunch, of, guys, I, went, to...","[I, think, some, HS, friends, are, running, a,..."
2,Submission,m4uv8i,Wall Street Week Ahead for the trading week be...,bigbear0083,Good Sunday morning to all of you here on r/st...,NaN,110,t3_m4uv8i,https://www.reddit.com/r/stocks/comments/m4uv8...,457,0.98,[1615726584.0],"[Good, Sunday, morning, to, all, of, you, here...","[Wall, Street, Week, Ahead, for, the, trading,..."
3,Submission,m4zabk,My Take on Semiconductors - TSMC DD,datamonkeyz,Reports of the [semiconductor shortage](https:...,NaN,88,t3_m4zabk,https://www.reddit.com/r/stocks/comments/m4zab...,157,0.94,[1615742166.0],"[Reports, of, the, semiconductor, shortage, ht...","[My, Take, on, Semiconductors, TSMC, DD]"
4,Submission,m50u8p,$CODX moving ⬆️!,Scared_Patience_4802,$CODX is still a hidden gem! Totally undervalu...,NaN,29,t3_m50u8p,https://www.reddit.com/r/stocks/comments/m50u8...,133,0.71,[1615746543.0],"[, CODX, is, still, a, hidden, gem, Totally, u...","[, CODX, moving, ]"

In [12]:
common_words = ['Corp', 'Corporation', 'Ltd', 'Acquisition', 'Pharmaceuticals', 'Holding', 'Group']
new_name = []
for ticker in tickers:
    company_words = ticker.name.split()
    for word in company_words:
        if word in common_words:
            continue
        else:
            new_name.append(word)
    ticker.name = new_name
    print(ticker.name)

AttributeError: 'list' object has no attribute 'split'

In [ ]:
submissions_df["Tickers"] = ""
for index, row in submissions_df.iterrows():
    tickers_found = []
    body_list = row[12]
    title_list = row[13]
    body_set = set(body_list)
    title_set = set(title_list)
    for ticker in tickers:
        if ticker.abbrev == 'A' or ticker.abbrev == 'I':
            #if (ticker.name.split()[0] in body_set) or (ticker.name.split()[0] in title_set):
            if (ticker.name in body_set) or (ticker.name in title_set):
                tickers_found.append(ticker.abbrev)
        else:
            if (ticker.abbrev in body_set) or (ticker.abbrev in title_set):
                #print("Abbreviation match")
                #print(f"{index}: {ticker.abbrev}")
                if ticker.abbrev not in tickers_found:
                    tickers_found.append(ticker.abbrev)
            elif (ticker.name in body_set) or (ticker.name in title_set):
                #print("Name match")
                #print(f"{index}: {ticker.name}")
                #print(f"{index}: {ticker.abbrev}")
                if ticker.abbrev not in tickers_found:
                    tickers_found.append(ticker.abbrev)
    submissions_df.at[index, "Tickers"]= tickers_found
    print(f"{index}: {tickers_found}")

In [ ]:
submissions_df.head()

In [ ]:
import nltk
nltk.download('punkt')

In [ ]:
submissions_df['tokenized_body'] = submissions_df.apply\
(lambda row: nltk.word_tokenize(row['Body']), axis=1)

In [ ]:
submissions_df['tokenized_body'].head()

In [ ]:
for ticker in tickers:
    for index, row in submissions_df.iterrows():
        if ticker.abbrev in submissions_df['tokenized_body']:
        submissions_df['ticker'] = ticker.abbrev

In [ ]:
submissions_df.head()

In [ ]:
# Bag of Words Vectorization
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()

# fit and transform the model for submissions body

submissions_body = submissions_df["Body"]

submissions_body_vectors = vectorizer.fit_transform(submissions_body)

#print(submissions_body_vectors.toarray())
#print(submissions_body[0])
#print(submissions_body_vectors[0])

submissions_body_vectors[0].get_feature_names()

In [ ]:
# Using Vader Sentiment Analysis on Submissions
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA
from pprint import pprint
#nltk.download('vader_lexicon')
sia = SIA()
results = []
submissions_loop = submissions_df[['Body', 'Ticker']]
for index, row in submissions_loop.iterrows():
    body = row[0]
    ticker = row[1]
    pol_score = sia.polarity_scores(body)
    pol_score['body_text'] = body
    pol_score['ticker'] = ticker
    results.append(pol_score)
pprint(results[:3], width=100)

In [ ]:
submission_sentiment_df = pd.DataFrame.from_records(results)
submission_sentiment_df['label'] = 0
submission_sentiment_df.loc[submission_sentiment_df['compound'] > 0.2, 'label'] = 1
submission_sentiment_df.loc[submission_sentiment_df['compound'] < -0.2, 'label'] = -1
submission_sentiment_df.head()

In [ ]:
submission_sentiment_df['body_text'].iloc[0]